/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #111;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #111;
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
  }
  
  footer p {
    margin: 0;
  }

  body {
    background-image: url("QueryQuest/QQ.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  

  main p {
    opacity: 0.99; /* Adjust the opacity as needed (0.0 to 1.0) */
    color: #fff; /* Set the desired color for the description text */
  }


  .course {
    cursor: pointer;
    color: #007592;
  }
  
  .course p {
    display: none;
  }
  
  .course.active p {
    display: block;
  }
  
  
  
  /* Add specific styles for each page if needed */
  