html,
body {
  height: 100%;
}

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
  position: relative; /* Add this line */
  min-height: 100%; /* Add this line */
}

/* ... Existing CSS code ... */

footer {
  background-color: #111;
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
  position: absolute; /* Add this line */
  bottom: 0; /* Add this line */
  width: 100%; /* Add this line */
}

footer p {
  margin: 0;
}
